<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 8 valores de cada propiedad, para posibles 8 espectrómetros. La rutina de chequeo ID debe hacer 
  SET de los valores y armar el vector de envío de los parámetros del AMC, listo para ejecutarse en cuanto
  se active el modo AMC. El método para guardar los valores de este archivo DEBE confirmar el ID del AMC
  antes de escribir cualquier config value.
  -->
  <appSettings>
    <add key="frec_barrido_1" value="10.0"/>
    <add key="frec_barrido_2" value="10.0"/>
    <add key="frec_barrido_3" value="10.0"/>
    <add key="frec_barrido_4" value="10.0"/>
    <add key="frec_barrido_5" value="10.0"/>
    <add key="frec_barrido_6" value="10.0"/>
    <add key="frec_barrido_7" value="10.0"/>
    <add key="frec_barrido_8" value="10.0"/>
    <add key="tiempo_muerto_1" value="20.0"/>
    <add key="tiempo_muerto_2" value="20.0"/>
    <add key="tiempo_muerto_3" value="20.0"/>
    <add key="tiempo_muerto_4" value="20.0"/>
    <add key="tiempo_muerto_5" value="20.0"/>
    <add key="tiempo_muerto_6" value="20.0"/>
    <add key="tiempo_muerto_7" value="20.0"/>
    <add key="tiempo_muerto_8" value="20.0"/>
    <add key="avan_canal_1" value="I"/>
    <add key="avan_canal_2" value="I"/>
    <add key="avan_canal_3" value="I"/>
    <add key="avan_canal_4" value="I"/>
    <add key="avan_canal_5" value="I"/>
    <add key="avan_canal_6" value="I"/>
    <add key="avan_canal_7" value="I"/>
    <add key="avan_canal_8" value="I"/>
    <add key="fin_canal_1" value="I"/>
    <add key="fin_canal_2" value="I"/>
    <add key="fin_canal_3" value="I"/>
    <add key="fin_canal_4" value="I"/>
    <add key="fin_canal_5" value="I"/>
    <add key="fin_canal_6" value="I"/>
    <add key="fin_canal_7" value="I"/>
    <add key="fin_canal_8" value="I"/>
    <add key="barridos_1" value="0"/>
    <add key="barridos_2" value="0"/>
    <add key="barridos_3" value="0"/>
    <add key="barridos_4" value="0"/>
    <add key="barridos_5" value="0"/>
    <add key="barridos_6" value="0"/>
    <add key="barridos_7" value="0"/>
    <add key="barridos_8" value="0"/>
    <add key="max_velocidad_1" value="8.0"/>
    <add key="max_velocidad_2" value="8.0"/>
    <add key="max_velocidad_3" value="8.0"/>
    <add key="max_velocidad_4" value="8.0"/>
    <add key="max_velocidad_5" value="8.0"/>
    <add key="max_velocidad_6" value="8.0"/>
    <add key="max_velocidad_7" value="8.0"/>
    <add key="max_velocidad_8" value="8.0"/>
    <add key="sign_velocidad_1" value="0"/>
    <add key="sign_velocidad_2" value="0"/>
    <add key="sign_velocidad_3" value="0"/>
    <add key="sign_velocidad_4" value="0"/>
    <add key="sign_velocidad_5" value="0"/>
    <add key="sign_velocidad_6" value="0"/>
    <add key="sign_velocidad_7" value="0"/>
    <add key="sign_velocidad_8" value="0"/>
    <add key="resolucion_1" value="256"/>
    <add key="resolucion_2" value="256"/>
    <add key="resolucion_3" value="256"/>
    <add key="resolucion_4" value="256"/>
    <add key="resolucion_5" value="256"/>
    <add key="resolucion_6" value="256"/>
    <add key="resolucion_7" value="256"/>
    <add key="resolucion_8" value="256"/>
    <add key="modo_manejo_1" value="T"/>
    <add key="modo_manejo_2" value="T"/>
    <add key="modo_manejo_3" value="T"/>
    <add key="modo_manejo_4" value="T"/>
    <add key="modo_manejo_5" value="T"/>
    <add key="modo_manejo_6" value="T"/>
    <add key="modo_manejo_7" value="T"/>
    <add key="modo_manejo_8" value="T"/>
  </appSettings>  
</configuration>